<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <table class="table table-border table-bordered text-center shadow">
        <tr>
            <th>User Id</th>
            <th>User Name</th>
            <th>User Email</th>
            <th>User Password</th>
            <th>Delete User</th>
            <th>Edit User</th>
        </tr>
        {% for user in users %}
            <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.uname }}</td>
            <td>{{ user.uemail }}</td>
            <td>{{ user.upassword }}</td>
            <td>
                <a href="/delete/{{ user.id }}" class="btn btn-danger">Delete</a>
            </td>
            <td>
                <a href="/edit/{{ user.id }}" class="btn btn-success">Edit</a>
            </td>


            </tr>
        {% endfor %}
    </table>

</div>

</body>
</html>